.contents {
  padding-top: 65px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}











/**
 * Details box
 */
.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90vw;
}
.day {
  width: 20vw;
}
.day {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 5px;
  margin-bottom: 10px;
}
.day-icon {
  max-width: 20vw;
}
.day-image {
  flex: 1;
  align-self: center;
  padding: 2vh;
}
.day-details {
  flex: 2;
  text-align: center;
}
@media only screen and (min-width: 737px) {
  .day-location {
    display: none;
  }
  .day-summary {
    display: none;
  }
}
@media only screen and (max-width: 736px) {
  .day {
    flex-direction: row;
    width: 90vw;
    height: 35vh;
  }
  .day-icon {
    max-height: 40vh;
    max-width: 40vw;
  }
  .day-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 30vh;
    text-align: right;
    font-size: 3vw;
    margin: 2vw;
    padding-right: 2vw;
  }
  .day-cover-title {
    font-size: 8vw;
  }
  .day-temp {
    font-size: 8vw;
  }
}
