.contents {
  padding-top: 65px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cover {
  width: 90vw;
  background-color: skyblue;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  height: 50vh;
}
@media only screen and (max-width: 736px) {
  .cover {
    height: 35vh;
  }
}
.cover-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover-icon {
  max-height: 40vh;
  max-width: 40vw;
}
.cover-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin: 2vw;
}
.title-area {
  width: 45vw;
}
.details-area {
  width: 45vw;
  text-align: right;
}
.cover-title {
  text-align: right;
}
@media only screen and (max-width: 736px) {
  .cover-title {
    font-size: 8vw;
    text-align: right;
  }
  .details-area {
    font-size: 3vw;
    text-align: right;
  }
  .cover-temp {
    font-size: 8vw;
  }
}














/**
 * Details box
 */
.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90vw;
}
.day {
  width: 20vw;
}
.day {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 5px;
  margin-bottom: 10px;
}
.day-icon {
  max-width: 20vw;
}
.day-image {
  flex: 1;
  align-self: center;
}
.day-details {
  flex: 2;
  text-align: center;
}
@media only screen and (min-width: 737px) {
  .day-location {
    display: none;
  }
  .day-summary {
    display: none;
  }
}
@media only screen and (max-width: 736px) {
  .day {
    flex-direction: row;
    width: 90vw;
    height: 35vh;
  }
  .day-icon {
    max-height: 40vh;
    max-width: 40vw;
  }
  .day-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 30vh;
    text-align: right;
    font-size: 3vw;
    margin: 2vw;
  }
  .day-cover-title {
    font-size: 8vw;
  }
  .day-temp {
    font-size: 8vw;
  }
}
