.contents {
  padding-top: 65px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}











/**
 * Details box
 */
.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90vw;
}
