body {
  padding-top: 65px;
}
.input-area {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.room-input {
  width: 500px;
  margin: 20px;
}
@media only screen and (max-width: 736px) {
  .room-input {
    max-width: 500px;
  }
}
.create-room-button {
  margin: 20px;
}
.video-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: wrap-reverse;
}
.my-video {
  max-width: 25vw;
  min-width: 200px;
  height: 25vh;
  margin-right: 10px;
  margin-left: 10px;
}
.my-video-player {
  max-height: 100%;
  max-width: 100%;
}
.my-video-volume {
  position: absolute;
}
.remote-videos {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 200px;
  max-width: 100vw;
  /*background-color: blue;*/
}
.remote-video-player {
  max-height: 100%;
  max-width: 100%;
}
.remote-video {
  max-width: 25vw;
  min-width: 200px;
  height: 25vh;
  margin-right: 10px;
  margin-left: 10px;
  /*background-color: red;*/
}
.room-text {
  min-width: 400px;
  max-width: 50vw;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.room-url {
  padding: 10px;
}
.copy {
  margin-left: 10px;
}
.copied {
  margin-left: 10px;
}
.volume {
  z-index: 1000;
  position: absolute;
  bottom: 20px;
}
